<body>
    <div>
        <mat-form-field class="count">
            <mat-label>Visas</mat-label>
            <mat-select [(ngModel)]="panelsToShow" [ariaSelected]="12" name="Max shown entries:">
                <mat-option [value]="8">8</mat-option>
                <mat-option [value]="12">12</mat-option>
                <mat-option [value]="16">16</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
            <mat-label>Sök</mat-label>
            <input matInput type="search" [(ngModel)]="searchTerm" (keyup)="search()" placeholder="Ange kurskod">
        </mat-form-field>
    </div>
    <div>
        <mat-expansion-panel hideToggle *ngFor="let item of filteredSearchData | slice:0:panelsToShow">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>{{item.kurskod}}</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <h3>{{item.namn}}</h3>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
                <tr>
                    <th>Rad:</th>
                    <th>Signatur:</th>
                    <th [routerLink]="['/courseCalender/', item.signatur]"></th>
                    <th>Kommentar:</th>
                    <th>Spec Benämning:</th>
                </tr>
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.signatur}}</td>
                    <td><button [routerLink]="['/courseCalender/', item.signatur]">Schema</button></td>
                    <td>{{item.Kommentar}}</td>
                    <td>{{item.specBenamning}}</td>
                </tr>
            </table>
        </mat-expansion-panel>
    </div>
</body>